/*using COLOR METRO*/
.vs-green{color: #00a300;}
.vs-light-green{color: #99b433;}
.vs-dark-green{color: #1e7145;}
.vs-darken{color: #1d1d1d;}
.vs-teal{color: #00baa9;}
.vs-blue{color: #2d89ef;}
.vs-dark-blue{color: #2b5797;}
.vs-yellow{color: #ffc40d;}
.vs-orange{color: #e3a21a;}
.vs-red{color: #ee1111;}
.vs-dark-red{color: #b91d47;}
/*END*/
/**/
